<h1>Oli Pozzo DashBoard</h1>
  <h2>Messages</h2>
  <div class="dashboard-container-message">
    <% @messages.each do |message| %>
      <div class="row dashboard-messages">
        <div class="col-xs-3">
          <p><strong><%= message.created_at.strftime("%B %d, %Y, %H:%M")%></strong></p>
        </div>
        <div class="col-xs-5">
          <p><%= message.subject %></p>
        </div>
        <div class="col-xs-4 action-column">
          <% if policy(message).show? %>
            <%= link_to message_path(message) do %>
              <i class='fas fa-eye'></i> Details
            <% end %>
          <% end %>
          <% if policy(message).destroy? %>
            <%= link_to message_path(message), :method => :delete, :data => {:confirm => "Are you sure to delete this message Mr Oli Pozzo?"} do %>
              <i class="far fa-trash-alt"></i> Delete
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<div class="dashboard-container-agency">
  <h2>L'agence</h2>
  <div class="white-box">
    <p><strong>Text:</strong></p>
    <p><%= @agency.text %></p>
    <p><strong>Address:</strong></p>
    <p><%= @agency.address %></p>
    <p><strong>Email:</strong></p>
    <p><%= @agency.email %></p>
    <p><strong>Phone:</strong></p>
    <p><%= @agency.phone %></p>
    <% if policy(@agency).edit? %>
      <%= link_to edit_agency_path(@agency) do %>
        <i class="far fa-edit"></i> Edit
      <% end %>
    <% end %>
  </div>
</div>

<div class="dashboard-container-project">
  <h2>All projects</h2>
  <% i = 0 %>
  <% @projects.each do |project| %>
    <% i += 1 %>
    <div class="row dashboard-projects" data-index="<%= i %>">
      <div class="col-xs-3">
        <p><strong><%= project.title %></strong></p>
      </div>
      <div class="col-xs-5">
        <p><%= project.description %></p>
      </div>
      <div class="col-xs-4 action-column">
        <% if policy(project).show? %>
          <%= link_to project_path(project) do %>
            <i class='fas fa-eye'></i> Details
          <% end %>
        <% end %>
        <% if policy(project).edit? %>
          <%= link_to edit_project_path(project) do %>
            <i class="far fa-edit"></i> Edit
          <% end %>
        <% end %>
        <% if policy(project).destroy? %>
          <%= link_to project_path(project), :method => :delete, :data => {:confirm => "Are you sure to delete this project Mr Oli Pozzo?"} do %>
            <i class="far fa-trash-alt"></i> Delete
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>

  <div class="buttons">
    <%= link_to new_project_path, class: 'action-btn green-btn' do %>
      New Project <i class="fas fa-plus"></i>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= t(".sign_out", default: "Log out") %>
    <% end %>

    <%= link_to root_path, targer: '_blank' do %>
      <i class="fas fa-desktop"></i> Go to website
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'dashboard' %>
