<div class="projects-section">
  <%= render 'shared/logo_final_projects_page', class: 'logo-projects-section'%>
  <% @projects.each do |project| %>
    <div class="projects-container">
      <div class="row project-presentation">
          <% if project.images.nil? %>
            <div class="col-xs-12 col-sm-6 images-container">
              <div class="image-active">
                <p>Sorry no pictures</p>
              </div>
          <% else %>
              <div class="col-xs-12 col-sm-6 images-container">
              <div class="image-active">
              <%= cl_image_tag project.images.first.url %>
              </div>
              <div class="images-mozaic row">
                <% project.images.each do |image| %>
                  <div class="col-xs-6 col-sm-3 image-mozaic-box">
                    <%= cl_image_tag image.url %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="col-xs-12 col-sm-6">
            <h3 class="title-project"><%= project.title %></h3>
            <h5 class="description-project"><%= project.description %></h5>
            <p class="type_1-project"><strong><%= project.type_1 %> - <%= project.type_2 %></strong></p>
            <p class="content-project"><%= project.content %></p>
          </div>
      </div>
    </div>
  </div>
<% end %>
