  <% i = 0 %>
  <% @projects.each do |project| %>
  <% i += 1 %>
    <div class="projects-container section" data-index-section="<%= i %>">
      <div class="row project-presentation project<%= i %>">
          <% if project.images.first.nil? %>
            <div class="col-xs-12 col-sm-6 images-container">
              <div class="image-active" >
                <p>Sorry no pictures</p>
              </div>
          <% else %>
            <div class="col-xs-12 col-md-6 images-container animateImage<%= i %>">
              <div class="image-active w3-">
                <% project.images.each do |image| %>
                  <%= cl_image_tag image.url, class: "mySlides#{i} images" %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="col-xs-12 col-md-6 text-container animateText<%= i %>">
            <div class="only-text">
              <h3 class="title-project"><%= project.title %></h3>
                <h5 class="description-project"><%= project.description %></h5>
                <p class="type_1-project"><strong><%= project.type_1 %> - <%= project.type_2 %></strong></p>
              <p class="content-project"><%= project.content %></p>
            </div>
          <div class="images-mozaic row animateMozaic<%= i %>">
            <% index_image_section = 0 %>
              <% project.images.each do |image| %>
                <% index_image_section += 1 %>
                  <div class="col-xs-6 image-mozaic-box">
                  <%= cl_image_tag image.url, class: "demo#{i} w3-opacity w3-hover-opacity-off demo-images", :onclick=> "currentDiv(#{index_image_section}, #{i})" %>
              </div>
            <% end %>
          </div>
          </div>
        </div>

          <script>
          var slideIndex = 1;
          showDivs(slideIndex, <%= i %>);

          function plusDivs(n, index_project) {
            showDivs(slideIndex += n, index_project);
          }

          function currentDiv(n, index_project) {
            showDivs(slideIndex = n, index_project);
          }

          function showDivs(n, index_project) {
            var i;
            var x = document.getElementsByClassName(`mySlides${index_project}`);
            var dots = document.getElementsByClassName(`demo${index_project}`);
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " w3-opacity-off";
          }
        </script>
      </div>
    <% end %>
  </div>
