<h1>Oli Pozzo DashBoard</h1>
<h2>All projects</h2>
<% @projects.each do |project| %>
  <p><%= project.title %> - <%= project.description %></p>
<% end %>



<%= link_to destroy_user_session_path, method: :delete do %>
  <%= t(".sign_out", default: "Log out") %>
<% end %>

<%= link_to 'Back', home_path %>
