<%= image_tag("LOGO-FINAL-01.png", :alt => "logo-opb", width: 250, class: 'logo-index-page') %>

<%= render 'shared/fullpage_page' %>

<div class="arrow-up-circle">
  <div class="arrow-up arrow-up-animated"></div>
  <div class="arrow-up arrow-up"></div>
</div>
<div class="arrow-down-circle">
  <div class="arrow-down arrow-down-animated"></div>
  <div class="arrow-down arrow-down"></div>
</div>

<div class="arrow-top-0">
  <div class="arrow-up-animated arrow-up"></div>
  <p>Top</p>
</div>

<script>
const body = document.querySelector('body');
let fullPage = document.getElementById('fullpage');

const navbar = document.querySelector('.info-opb-right');
const agencyButton = document.getElementById('agence-nav');
const projectsButton = document.getElementById('projets-nav');
const contactButton = document.getElementById('contact-nav');

const circleArrowDown = document.querySelector('.arrow-down-circle');
const circleArrowUp = document.querySelector('.arrow-up-circle');
const arrowTop = document.querySelector('.arrow-top-0');

console.log(arrowTop);

let fadeOutInterval = null;

function defFadeOutInterval(from_page, to_page) {
  fadeOutInterval = setInterval(function(){fadeOut(from_page, to_page)}, 20);
  fadeOutIndex = 1;
}

let fadeOutIndex = 1;

function fadeOut(from_page, to_page) {

  let newPage = null;
  let from_pageHTML = null;

  fadeOutIndex -= 0.05;

  if ( to_page === 'agency' ) {
    newPage = `<%= render 'shared/agency_page' %>`;
    from_pageHTML = fullPage;
    navbar.style.opacity = fadeOutIndex - 0.5;
    navbar.style.zIndex = 0;
    circleArrowDown.style.opacity = fadeOutIndex - 0.5;
    circleArrowUp.style.opacity = fadeOutIndex - 0.5;
    arrowTop.style.opacity = fadeOutIndex - 0.5;

  } else if ( to_page === 'listProjects' ) {
    newPage = `<%= render 'shared/list_projects' %>`;
    from_pageHTML = fullPage;
    navbar.style.opacity = fadeOutIndex - 0.5;
    navbar.style.zIndex = 0;
    circleArrowDown.style.opacity = fadeOutIndex - 0.5;
    circleArrowUp.style.opacity = fadeOutIndex - 0.5;
    arrowTop.style.opacity = fadeOutIndex - 0.5;

  } else if ( to_page === 'contact' ) {
    newPage = `<%= render 'shared/contact_page' %>`;
    from_pageHTML = fullPage;
    navbar.style.opacity = fadeOutIndex - 0.5;
    navbar.style.zIndex = 0;
    circleArrowDown.style.opacity = fadeOutIndex - 0.5;
    circleArrowUp.style.opacity = fadeOutIndex - 0.5;
    arrowTop.style.opacity = fadeOutIndex - 0.5;

  } else {
    newPage = fullPage;
    if ( from_page === 'agency' ) {
      from_pageHTML = document.getElementById('agency');
    } else if ( from_page === 'listProjects' ) {
      from_pageHTML = document.getElementById('list-projects');
    } else if ( from_page === 'contact' ) {
      from_pageHTML = document.getElementById('contact');
    }
  }

  from_pageHTML.style.opacity = fadeOutIndex;

  if (fadeOutIndex <= 0) {
    clearInterval(fadeOutInterval);
    changeHtml(from_pageHTML, newPage);
  }
}


function changeHtml(from_page, newPage) {
  let pageHtml = null;

  console.log(from_page);
  if ( from_page === fullPage ) {
    body.insertAdjacentHTML('beforeend', newPage);
  } else {
    from_page.parentNode.removeChild(from_page);
    pageHtml = newPage;
  }


  agency = document.getElementById('agency');
  listProjects = document.getElementById('list-projects');
  contact = document.getElementById('contact');

  if ( agency != null ) {
    pageHtml = agency;
  }

  if ( listProjects != null ) {
    pageHtml = listProjects;
  }

  if ( contact != null ) {
    pageHtml = contact;
  }

  defDisplayInterval(from_page, pageHtml);
}

let displayInterval = null;

let displayIndex = -0.5;

function defDisplayInterval(from_page, to_page) {
  displayInterval = setInterval(function(){display(from_page, to_page)}, 50);
  displayIndex = 0;
}

function display(from_page, to_page) {
  displayIndex += 0.05;
  to_page.style.opacity = displayIndex;

  if ( to_page === fullPage ) {
     navbar.style.zIndex = 9;
    navbar.style.opacity = displayIndex;
    circleArrowDown.style.opacity = displayIndex;
    circleArrowUp.style.opacity = displayIndex;
    arrowTop.style.opacity = displayIndex;
  }

  if (displayIndex > 1) {
    clearInterval(displayInterval);

    const closingCrossAgency = document.getElementById('closing-cross-agency');
    const closingCrossProjectList = document.getElementById('closing-cross-list-projects');
    const closingCrossContact = document.getElementById('closing-cross-contact');

    if ( closingCrossAgency != null ) {
      closingCrossAgency.addEventListener('click', function(){defFadeOutInterval('agency', fullPage)});
    }

    if ( closingCrossProjectList != null ) {
      closingCrossProjectList.addEventListener('click', function(){defFadeOutInterval('listProjects', fullPage)});
    }

    if ( closingCrossContact != null ) {
      closingCrossContact.addEventListener('click', function(){defFadeOutInterval('contact', fullPage)});
    }
  }
}

agencyButton.addEventListener('click', function(){defFadeOutInterval(fullPage, 'agency')});
projectsButton.addEventListener('click', function(){defFadeOutInterval(fullPage, 'listProjects')});
contactButton.addEventListener('click', function(){defFadeOutInterval(fullPage, 'contact')});


</script>

<%= javascript_pack_tag 'home-constructor' %>
<%= javascript_pack_tag 'list-projects' %>
