<div class="buttons">
  <% if policy(@project).edit? %>
    <%= link_to "Edit", edit_project_path(@project), class: 'action-btn green-btn' %>
  <% end %>
  <%= link_to 'Add Image', new_project_image_path(@project), class: 'action-btn green-btn' %>
  <% if policy(@project).destroy? %>
    <%= link_to "Delete", project_path(@project), :method => :delete, :data => {:confirm => "Are you sure Mr Oli Pozzo?"}, class: 'action-btn red-btn' %>
  <% end %>
  <%= link_to 'Back to dashboard', dashboard_path %>
  </div>
</div>
<div class="projects-section">
  <div class="projects-container">
    <div class="row project-presentation">
      <% if @project.images.nil? %>
        <div class="col-xs-12 col-sm-6 images-container">
          <div class="image-active">
            <p>Sorry no pictures</p>
          </div>
        </div>
      <% else %>
        <div class="col-xs-12 col-sm-6 images-container">
          <div class="image-active">
            <%= cl_image_tag @project.images.first.url %>
          </div>
          <div class="images-mozaic row">
            <% @project.images.each do |image| %>
              <div class="col-xs-6 col-sm-3 image-mozaic-box">
                <%= cl_image_tag image.url %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-6">
        <h3 class="title-project text-animate"><%= @project.title %></h3>
        <h5 class="description-project text-animate"><%= @project.description %></h5>
        <p class="type_1-project text-animate"><strong><%= @project.type_1 %> - <%= @project.type_2 %></strong></p>
        <p class="content-project text-animate"><%= @project.content %></p>
        </div>
      </div>
    </div>
  </div>
