<a href="/" class="close-button"></a>
<%= image_tag("LOGO-FINAL-01.png", :alt => "logo-opb", width: 250, class: 'logo-list-projects') %>
<div class="buttons">
  <% if policy(@project).edit? %>
    <%= link_to "Edit", edit_project_path(@project), class: 'action-btn green-btn' %>
  <% end %>
  <% if policy(Image).new? %>
    <%= link_to 'Add Image', new_project_image_path(@project), class: 'action-btn green-btn' %>
  <% end %>
  <% if policy(@project).destroy? %>
    <%= link_to "Delete", project_path(@project), :method => :delete, :data => {:confirm => "Are you sure Mr Oli Pozzo?"}, class: 'action-btn red-btn' %>
  <% end %>
  <% if policy(User).show? %>
    <%= link_to 'Back to dashboard', dashboard_path %>
  <% end %>
</div>
<div class="projects-container">
  <div class="row project-presentation">
    <% if @project.images.first.nil? %>
      <div class="col-xs-12 col-sm-6 images-container">
          <div class="image-active" >
            <p>Sorry no pictures</p>
          </div>
    <% else %>
      <div class="col-xs-12 col-md-6 images-container">
        <div class="image-active w3-">
          <% @project.images.each do |image| %>
            <%= cl_image_tag image.url, class: "mySlides" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 col-md-6 text-container">
      <h3 class="title-project text-animate"><%= @project.title %></h3>
      <h5 class="description-project text-animate"><%= @project.description %></h5>
      <p class="type_1-project text-animate"><strong><%= @project.type_1 %> - <%= @project.type_2 %></strong></p>
      <p class="content-project text-animate"><%= @project.content %></p>
      <div class="images-mozaic row">
        <% index_image_section = 0 %>
        <% @project.images.each do |image| %>
          <% index_image_section += 1 %>
          <div class="col-xs-6 image-mozaic-box">
            <%= cl_image_tag image.url, class: "demo w3-opacity w3-hover-opacity-off demo-images", :onclick=> "currentDiv(#{index_image_section})" %>
            <br>
            <% if policy(image).destroy? %>
              <%= link_to "Delete image", project_image_path(@project, image), :method => :delete, :data => {:confirm => "Are you sure Mr Oli Pozzo?"} %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName(`mySlides`);
      var dots = document.getElementsByClassName(`demo`);
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-opacity-off";
    }
  </script>
  </div>
</div>

