<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OPB | Architecture | Urbanisme</title>
    <meta name="description" content="Agence d'architecture Olivier Pozzo Di Borgo"/>
    <meta name="keywords" content="architecture, architect, corse, architecture corse, architect corse, biguglia, bastia, architect bastia, architect biguglia, OPB, Olivier Pozzo Di Borgo, urbanisme, urbanisme corse" />

    <link rel="apple-touch-icon" href="img/OPB-mini.png" />

    <meta property="og:title" content="OPB Architecture" />
    <meta property="og:type" content="site web" />
    <meta property="og:url" content="http://opb-architecture.com"/>
    <meta property="og:image" content="images/OPB-mini.png" />
    <meta property="og:description" content="Agence d'architecture Olivier Pozzo Di Borgo"/>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key} flash-message") %>
    <% end %>
    <%= yield %>
  <%= javascript_pack_tag 'application' %>
  </body>
</html>
